/* resume top */
.name{
    text-align: center;
    font-size: 40px;
    color: solid black;
    margin-bottom: 5px;
}
.gradient{
    background: linear-gradient(to right, #3b379f, #43c3ac);
    height: 30px;
    text-align: center;
    color: white;
    font-size: 20px;
    padding-top: 15px;
}
.contactdetails{
    display: flex;
    justify-content: space-evenly;
    }
.contactdetails i{
    margin-right: 7px;
    color: #4640a5;
}
.contactdetails a{
    color: #4640a5;
    text-decoration: none;
    font-family: "Open sans",sans-serif;
}
.contact{
    padding-top: 15px;
}

/*summary*/
.summary{
    padding: 5px;
    margin: 10px 0 0 10px;
}
.summary p{
    margin: 10px 0 0 0;
}

/*key skills*/
.keyskills{
    padding: 5px;
    margin-left: 10px;
}
.list ul {
    list-style: none;
    margin: 10px 0 0 0;
    line-height: 1.3;
}

/*Technical skills*/
.technical{
    padding: 5px;
    margin-left: 10px;
}
.tech{
    margin-top: 5px;
    line-height: 1.3;
}

/*Professional Experience*/
.professional{
    padding: 5px;
    margin-left: 10px;
}
.experience{
    display: flex;
    justify-content: space-between;
}
.work{
    line-height: 1.3;
    margin-top: 5px;
}

/*Education*/
.education{
    padding: 5px;
    margin-left: 10px;
}
.degree{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

/*end line*/
.endline{
    height: 3px;
    background: linear-gradient(to right, #3b379f, #43c3ac);
    margin-top: 10px;
}

.endline1{
    height: 7px;
    background: linear-gradient(to right, #3b379f, #43c3ac);
    margin: 12px;
}

